.document-list li {
    line-height: 28px;
    padding-top: 10px;
    border-top: 1px solid #eee;
    margin-top: 10px;
}

.document-list li:first-child {
    padding-top: 0;
    border-top: none;
    margin-top: 0;
}

.document-list i {
    font-size: 28px;
    vertical-align: top;
    margin-right: 10px;
}