.news-v1 .news-v1-in {
    position: relative;
    padding-bottom: 40px;
}

.news-v1 .news-v1-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0 !important;
    border: none;
}