/*Flexslider Resets
        ------------------------------------*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/*Flexslider Base
------------------------------------*/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .flexslider .slides {
    display: block;
}

* html .flexslider .slides {
    height: 1%;
}

.no-js .flexslider .slides > li:first-child {
    display: block;
}

.flex-viewport {
    height: 100% !important;
}

.alpha-wrap {
    position: relative;
}

.alpha-slider {
    max-height: 500px;
}

/*Slider element
------------------------------------*/
.alpha-slides > li {
    overflow: hidden;
    position: relative;
    background: #FFF no-repeat center;
    background-size: cover;
    -webkit-backface-visibility: visible !important;
}

.alpha-slides > li.shading:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/*Slider navigation
------------------------------------*/
.alpha-nav {
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.alpha-wrap:hover .alpha-nav {
    opacity: 1;
}

/*Slider Arrows*/
.alpha-nav > a {
    display: block;
    width: 30px;
    height: 110px;
    background: #000;
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    margin: -55px 0 0 0;
    font-size: 32px;
    color: #FFFFFF;
    line-height: 110px;
    text-align: center;
    z-index: 999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.alpha-nav > a:hover {
    color: #C0C0C0;
}

.alpha-nav > a.flex-prev {
    left: 0;
}

.alpha-nav > a.flex-next {
    right: 0;
}

.alpha-nav > a.flex-disabled {
    display: none;
}

/*Slider Pagination*/
.alpha-bullets {
    position: absolute;
    bottom: 20px;
    height: 16px;
    width: 100%;
    z-index: 999;
    text-align: center;
}

.alpha-bullets li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 0 2px 0 0;
}

.alpha-bullets li > a {
    display: block;
    width: 16px;
    height: 16px;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    border: 5px solid transparent !important;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.alpha-bullets li > a:hover,
.alpha-bullets li > a.flex-active {
    background: rgba(255, 255, 255, 1) !important;
    border: 5px solid rgba(0, 0, 0, 1) !important;
}

/*Slider captions
------------------------------------*/
.alpha-caption {
    position: relative;
    z-index: 999;
    font-size: 10px;
}

/*Caption Image*/
.alpha-caption .caption-image,
.alpha-caption .caption-text {
    height: 100%;
}

.alpha-caption .caption-image > div {
    height: 0;
    overflow: hidden;
    padding-bottom: 66.66667%;
}

/*Caption Text*/
.alpha-ch1,
.alpha-ch2,
.alpha-ch3 {
    width: 100%;
}

.alpha-ch1,
.alpha-ch2 {
    color: #FFFFFF;
    line-height: 1.50;
    font-family: "Open Sans", Arial, sans-serif;
}

.alpha-ch1 {
    font-size: 3.60em;
    text-transform: uppercase;
}

.alpha-ch2 {
    font-size: 1.60em;
}

.alpha-ch2 > div {
    max-height: 7.5em;
    overflow: hidden;
}

.alpha-ch3 {
    font-size: 1.40em;
    margin-top: 4.00em;
    position: relative;
}

.alpha-ch3:before {
    left: 50%;
    width: 70px;
    height: 0.2em;
    content: '';
    top: -2.40em;
    background: #FFFFFF;
    margin-left: -35px;
    position: absolute;
}

/*Slider responsive
------------------------------------*/
@media (max-width: 991px) {
    .alpha-caption {
        font-size: 8px;
    }
}

@media (max-width: 450px) {
    .alpha-caption {
        font-size: 6px;
    }
}